[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = store
[url "git@github.com:"]
	insteadOf = https://github.com/
[core]
	autocrlf = input

[alias]
        a   = add .
        b   = branch
        cl  = clone
        ci  = commit
        cm  = commit -m
        co  = checkout
        d   = diff
        ds  = describe
        dst = describe --tags
        f   = fetch
        h   = help
        i   = init
        l   = log
        m   = merge
        pl  = pull
        ps  = push
        rb  = rebase
        rs  = reset
        rt  = remote
        s   = status
        sh  = show
        t   = tag
